@import "../../node_modules/concise.css/concise"

@keyframes fadein
  from
    opacity: 0

  to
    opacity: 1


@-moz-keyframes fadein
  from
    opacity: 0

  to
    opacity: 1


@-webkit-keyframes fadein
  from
    opacity: 0

  to
    opacity: 1


@keyframes fadeout
  from
    filter: grayscale(1)
    -moz-filter: grayscale(1)
    -webkit-filter: grayscale(1)

  to
    filter: grayscale(0)
    -moz-filter: grayscale(0)
    -webkit-filter: grayscale(0)


@-moz-keyframes fadeout
  from
    filter: grayscale(1)
    -moz-filter: grayscale(1)
    -webkit-filter: grayscale(1)

  to
    filter: grayscale(0)
    -moz-filter: grayscale(0)
    -webkit-filter: grayscale(0)


@-webkit-keyframes fadeout
  from
    filter: grayscale(1)
    -moz-filter: grayscale(1)
    -webkit-filter: grayscale(1)

  to
    filter: grayscale(0)
    -moz-filter: grayscale(0)
    -webkit-filter: grayscale(0)


html, body
  margin: 0
  height: 100%

.bg
  position: relative
  overflow: hidden
  .content
    padding: 55px
    text-align: center
    font-family: 'PT Sans'
    font-size: 1.25em
    color: hsl(206, 21%, 71%)
    line-height: 1.6em
    a, span
      color: hsl(213, 53%, 48%)
      transition: all .2s linear
      -webkit-transition: all .2s linear
      -moz-transition: all .2s linear
      text-decoration: none
    a
      &:hover
        color: hsl(206, 21%, 71%)
      &.bold
        font-weight: 600
    > .title
      color: white
      text-align: center
      margin-bottom: 15px
      .typcn
        font-size: 2.5em
      .text
        font-family: 'Open Sans'
        font-size: 2em
        font-weight: 600
      .typcn, .text
        display: inline-block
        margin: 0 10px

#bg-1
  height: 100%
  filter: grayscale(0)
  -moz-filter: grayscale(0)
  -webkit-filter: grayscale(0)
  animation: fadeout 2.2s
  -moz-animation: fadeout 2.2s
  -webkit-animation: fadeout 2.2s
  .inner-container
    background-image: url(/images/seoul-gray.jpg)
    background-size: cover
    height: 100%

#bg-2 .content
  width: 700px
  margin: auto

#bg-3, #bg-5
  background-color: hsl(213, 52.5581%, 42.1569%)

#bg-4 .content > .title
  color: hsl(206, 74%, 48%)
  .typcn
    margin: 0 5px
    font-size: 3em

#bg-5 .content
  padding: 60px 20px 10px

#bg-overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: black
  opacity: 0
  z-index: 10

#arrow
  width: 75%
  position: fixed
  bottom: 5px
  z-index: 9
  .typcn
    font-size: 4em
    opacity: 0.2
    color: white
    position: relative
    z-index: 9
    margin: auto
    transform: rotate(90deg)
    -webkit-transform: rotate(90deg)
    -moz-transform: rotate(90deg)

#top-content
  width: 72.5%
  margin-top: 25px
  text-align: center
  color: #222
  animation: fadein .8s
  -moz-animation: fadein .8s
  -webkit-animation: fadein .8s
  .content-offset
    margin-left: -300px
  img
    width: 100px
  .name
    font-family: 'Open Sans'
    font-size: 3em
    font-weight: 700
    margin: 20px 0 10px
  .tagline
    font-family: 'Roboto Slab'
    font-size: 1.1em
    font-weight: 300
    display: inline-block
    padding: 8px 12px
    background-color: black
    color: white
  .social
    margin-top: 40px
    a
      margin: 0 4px
      transition: opacity 0.25s
      &:hover
        opacity: 0.7
      img
        width: 48px

#work .job, #projects .project
  margin: 18px
  display: inline-block
  width: 395px
  vertical-align: top

#about .blurb
  margin: 18px
  display: inline-block
  width: 395px
  vertical-align: top
  /*width: 360px;
   *margin: 25px;
  width: 380px
  margin: 50px

#work .job
  color: white
  .logo img
    width: 260px
  .title
    font-size: 2em
    margin: 25px 0 15px

#projects .project .title
  font-size: 2em
  margin: 25px 0 15px

#about
  color: white
  .typcn
    font-size: 4em
    margin: 0 auto 15px

#projects
  .project .title
    color: hsl(206, 74%, 48%)
  .stack
    margin: 30px 0
    .tech
      display: inline-block
      margin: 10px 0 0
      padding: 0 12px
      border: thin solid #222
      font-size: 0.8em
      font-weight: 600
      border-radius: 3px

#work .job
  .time
    opacity: 0.5
  .desc
    margin: 20px 0
    font-weight: 300
    line-height: 1.8em
    font-family: 'Open Sans'

#projects .project .desc
  margin: 20px 0
  font-weight: 300
  line-height: 1.8em
  font-family: 'Open Sans'

#about .blurb .text
  margin: 20px 0
  font-weight: 300
  line-height: 1.8em
  font-family: 'Open Sans'
  span
    color: hsl(206, 21%, 71%)
