doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    title= current_page.data.title || "Neill Bolton"
    
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Roboto+Slab:400,100,300,700"
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"
    
  body class="#{page_classes}"
    = yield
