#bg-1.bg
  .inner-container.bg
    #top-content
      .name Neill Bolton
      .tagline Your local software engineer, travel bug, creative, and entrepreneur.
      .social
        a href="https://twitter.com/nboltn" target="_blank" 
          img src="/images/twitter.png"
        a href="https://github.com/toovs" target="_blank" 
          img src="/images/github.png"
#bg-2.bg
  .content
    p
      | Hi there. My name is 
      = succeed "." do
        span Neill Bolton
    br
    p
      | I'm a software developer and serial entrepreneur, addicted to making 
      span cool stuff 
      | with 
      = succeed "." do
        span awesome people
    br
    p
      | Feel free to browse through this site or my 
      a.bold href="https://drive.google.com/open?id=1ddtm1kVeD1FIoSx4xlWX7e3dABFwEn2P" resume 
      | and send me an 
      a.bold href="mailto:hello@bolton.dev" email 
      | if you'd like to chat.
#bg-5.bg
  .content
    .title
      .typcn.typcn-user
      .text About me
    #about
      .blurb
        .logo
          .typcn.typcn-code
          .text
            | Primarily, I do 
            span full-stack web development 
            | and have dabbled in mobile apps. Broadly, I'm interested in most aspects of software development and hope to get more into 
            span computer science 
            | and 
            span data mining 
            | in the coming months. If that sounds interesting to you, check out what I've been working on recently.
      .blurb
        .logo
          .typcn.typcn-social-github
          .text
            | I'm a bit of an 
            = succeed "," do
              span open web evangelist
            | and an 
            = succeed "." do
              span open source fanatic
            | I believe that open source empowers people to stop complaining and start fixing problems.
